@import "../../../helpers_sass/variables";
@media #{$maxLG} {
  .tech-skills-page-en .skills {
    width: 974px !important ;
  }
}
@media #{$maxMD} {
  .tech-skills-page-en .skills {
    width: 90% !important ;
  }
}
@media #{$maxSM} {
  .tech-skills-page-en {
    height: auto;
    padding: 7vh 0;
    .skills {
      display: block !important ;
      & > div {
        margin: 4vh auto 0;
        height: 18vh;
        width: 70%;
      }
    }
  }
}
