.phone-gmail {
  background-color: #f2662c;
  color: #fff;
  direction: ltr !important ;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
