@import "../../../helpers_sass/variables.scss";
@import "../../../helpers_sass/RTL.scss";
.projects-page-ar {
  .projects-container {
    width: 1100px;
    margin: 15vh auto 20vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .project {
      margin-top: 5vh !important ;
      height: 290px;
      width: 330px;
      position: relative;
      @include prefixer(border-radius, 15px, webkit moz o ms);
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 2px 3px 5px #6f6f6f;
      .apparent-div,
      .hidden-div {
        overflow: hidden;
        position: absolute;
        top: 0;
        $direction1: 0;
        height: 100%;
        width: 100%;
        @include prefixer(border-radius, 10px, webkit moz o ms);
        border-radius: 10px;
        @include prefixer(transition, all, webkit moz o ms);
        transition: all 0.75s;
      }
      .apparent-div {
        background-color: $weightGrey;
        img {
          height: 80%;
          width: 95%;
          margin: 2.5% auto 0;
          background-size: cover;
          background-position: center;
          @include prefixer(border-radius, 10px 10px 0 0, webkit moz o ms);
          border-radius: 10px 10px 0 0;
          display: block;
        }
        .project-name {
          height: 17%;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            color: $orange;
            font-weight: 500;
            font-size: $normalSize;
            text-transform: capitalize;
          }
        }
      }
      .hidden-div {
        top: 2.5%;
        right: 2%;
        width: 96%;
        height: 80.5%;
        z-index: -1;
        opacity: 0;
        @include prefixer(transform, scale(0.83), webkit moz o ms);
        transform: scale(0.83);
        background-color: rgba($orange, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        .a-element {
          background-color: #fff;
          padding: 5px 10px;
          cursor: auto;
          @include prefixer(transform, scale(0.5), webkit moz o ms);
          border-radius: 7px;
          @include prefixer(border-radius, 15px 0 20px 0, webkit moz o ms);
          border-radius: 0 20px 0 15px;
          a {
            text-transform: capitalize;
            padding: 0;
            margin: 0;
            font-family: $hFont;
            color: $orange;
            text-decoration: none;
            font-weight: bold;
            font-size: 30px;
          }
        }
      }

      &:hover .hidden-div {
        @include prefixer(transform, scale(1), webkit moz o ms);
        transform: scale(1);
        opacity: 1;
        z-index: 0;
      }
    }
  }
}

@media #{$maxLG} {
  .projects-page-ar .projects-container {
    width: 974px;
    .project {
      height: 250px;
      width: 290px;
    }
  }
}
@media #{$maxMD} {
  .projects-page-ar .projects-container {
    width: 750px;
  }
}
@media #{$maxSM} {
  .projects-page-ar .projects-container {
    margin: 5vh auto 10vh;
    width: 90%;
    display: block;
    .project {
      margin: 4vh auto 0;
      width: 90%;
    }
  }
}
